<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lesson Notification</title>
</head>
<body>
    <p>Dear {{ user.get_full_name }},</p>
    <p>{{ message }}</p>
    <p>Lesson Details:</p>
    <ul>
        <li>Date: {{ lesson.date }}</li>
        <li>Start Time: {{ lesson.start_time }}</li>
        <li>End Time: {{ lesson.end_time }}</li>
        <li>Tutor: {{ lesson.tutor.get_full_name }}</li>
        <li>Location: {{ lesson.location }}</li>
    </ul>
    <p>Thank you for choosing our driving school!</p>
</body>
</html>
